<ion-view title="Topic1">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

  <!-- <button class="button button-outline button-positive">
  Week
</button>

<button class="button button-outline button-positive">
  Month
</button>

<button class="button button-outline button-positive">
  Year
</button> -->

<div class="button-bar button-outline button-positive">
  <a class="button button-outline button-positive">Week</a>
  <a class="button button-outline button-positive">Month</a>
  <a class="button button-outline button-positive">Year</a>
</div>
  </ion-content>
</ion-view>
